*{
  color:tomato;
}
p{
  background-color: black;
}
h1 {
  color:yellowgreen
}
.note{
  color: aqua;
}
#euid{
  color: cadetblue;
}
a{
  text-decoration: none;
  font-weight: bolder;
  font-size: 30px;
}